@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html {
  background: hotpink;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: inherit;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#root,
main {
  height: inherit;
}
