@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

html {
  background: hotpink;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: inherit;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#root,
main {
  height: inherit;
}
